node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
assets-in-progress/
publish-to-stores/
balloons.gif
balloons(compressed at youcompress.com).mov
.idea/
android/
web-build/
web-report/
